fakeredis
mock
webtest
pifpaf
git+https://github.com/culturecommunication/francearchives-cubicweb#egg=cubicweb-francearchives
https://hg.logilab.org/users/siaf/cubicweb-jsonschema/archive/0.1.1.tar.bz2#egg=cubicweb-jsonschema
https://hg.logilab.org/users/siaf/yams/archive/tip.tar.bz2#egg=yams
elasticsearch==6.3.1
elasticsearch-dsl==6.2.1
