recursive-include cubicweb_frarchives_edition *.py *.json *.eot *.svg *.ttf *.sql *.map *.woff *.woff2 *.js *.css *.po *.pot *.jinja2 *.pt
recursive-include doc *.rst
include frarchives_edition.jpg
include LICENCE.txt Licence_CeCILL-C_V1-en.txt
include package-lock.json
include package.json
include *.js
include pyproject.toml
recursive-include sphinx *.rst *.bat *.py Makefile
recursive-include test *.csv *.py *.jpg *.pdf *.txt *.xml *.rst *.html *.png
recursive-include cubicweb_frarchives_edition/scripts *.ipynb
include test/data/bootstrap_cubes
prune appjs
prune debian
prune deploy
exclude cubicweb-frarchives-edition.spec
exclude .babelrc
exclude .coveragerc
exclude .eslintrc.yml
exclude .prettierrc
exclude .gitlab-ci.yml
exclude Makefile
exclude dev-requirements.txt
exclude requirements.txt
exclude gitfilter
exclude tox.ini
exclude Dockerfile
exclude Dockerfile.antivirus
exclude entrypoint.antivirus.sh
exclude .dockerignore
exclude Makefile.docker
exclude pyramid.ini
exclude deploy.sh
exclude env.example
exclude .yamllint
