recursive-include cubicweb_frarchives_edition *.py *.json *.eot *.svg *.ttf *.sql *.map *.woff *.woff2 *.js *.css *.po *.jinja2 *.pt
recursive-include doc *.rst
include frarchives_edition.jpg
include LICENCE.txt Licence_CeCILL-C_V1-en.txt
include package-lock.json
include package.json
include *.js
include pyproject.toml
recursive-include sphinx *.rst *.bat *.py
recursive-include test *.csv *.py *.jpg *.pdf *.txt *.xml *.rst
include test/data/bootstrap_cubes
prune appjs
prune debian
prune cubicweb-frarchives-edition.spec
prune .babelrc
prune .coveragerc
prune .eslintrc.yml
prune .gitlab-ci.yml
prune Makefile
prune dev-requirements.txt
prune gitfilter
prune tox.ini
