
.ReactModalPortal > * {
  z-index: 2000;
}

#admin-panel {
  position: fixed;
  top: 0;
  z-index: 1020;
  overflow-y: auto;
  background-color: #eee;
  height: 100%;
  border: 1px solid #CCC;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 90%;
}

/* this will allow to disable react-select in bootstrap table on service page */
.react-bs-table .annex-td {
    overflow: initial
}


#admin-panel hr {
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#admin-panel h1,
#admin-panel h2,
#admin-panel h3,
#admin-panel h4,
#admin-panel h5 {
  font-weight: 400;
}

#admin-panel legend#root__title,
#admin-panel h1 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

legend#root__title,
#admin-panel h1 a {
  color: #0d4e96;
}

#admin-panel h2 {
  font-size: 20px;
  font-size: 1.4rem;
}

#admin-panel h3 {
  font-size: 18px;
  color: #0d4e96;
}

#admin-panel .red {
  color: #d51622;
}

#admin-panel form h3 {
  font-weight: 700;
}

#admin-panel > div {
  width: 300px;
}

#admin-panel form.rjsf {
  padding: 1em 2em;
  margin: 1em 0;
  border: 1px solid #ced4da;
}

#admin-panel .form-control {
  border: 1px solid #ced4da;
}

/* select all children of body except #admin-panel */
body #admin-panel ~ * {
  padding-left: 300px;  /* like max-width in #admin-panel */
}

body #admin-panel ~ #toTopBtn {
  padding-left: 0.7em;
}


#admin-panel > div {
  height: 100%;  /* so border-right in #toolbar take full height */
}

.pointer {
  cursor: pointer
}

#admin-panel > div.panel-unfolded { /* need selector with priority higher of `#admin-panel`  */
  width: 100%;
  max-width: none;
}
.panel-unfolded {
  width: 100%;
}

#admin-panel h3 {
  text-align: left;
  padding-left: 1em;
}

#admin-panel #mainpanel h3 {
  padding-left: 0;
}


@media (min-width: 600px) {
  .buttons-container {
    border-top: 0;
  }
  .buttons-container li a{
    padding: 3px 0.5rem;
  }

  body #admin-panel ~ * > #foreground-navtools {
    margin-bottom: 4rem;
  }
}

@media (min-width: 992px) {
  .buttons-container {
    padding-top: 10px;
  }

  .buttons-container li a{
    padding: 0.3em 1rem;
  }

  body #admin-panel ~ * > #foreground-navtools {
    margin-bottom: 0;
  }
}

#login-link span {
  font-family: 'lovelo';
  vertical-align: top;
}

#toolbar {
  padding: 0px 10px;
  height: 100%;
  text-align: center;
}

#mainpanel {
  padding: 10px;
  display: none;
}

.panel-unfolded #toolbar {
  border-right: 1px solid grey;
}

.panel-unfolded #mainpanel {
  display: block;
}


.form-title {
  font-weight: 700;
  display: block;
}


.fa-scale:hover {
  font-size: 1.3em;
}

.fa-scale {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


.tree-title {
    margin-left: 10px;
}

.tree-title:hover {
    background-color: yellow;
}

.authorities-search-form {
  margin-bottom: 2em;
}

.rqtask-state--block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8em;
  display: block;}

.rqtask-state-queued {
  background: #f19700;}

.rqtask-state-started {
  background: #f19700;}

.rqtask-state-finished {
  background: #01c832;}

.rqtask-state-failed {
  background: #c80132;}

.rqtask-state {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  border-radius: 50%;}

progress:not([value]) {
  background: gray;
}

#logs-table-container .react-bs-table table td, .react-bs-table table th {
  white-space: normal;
  overflow: inherit;
  text-overflow: none;
}

.form-inline .alignment-input {
  width: 80%;
}

.inline {
  display: inline;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1000;
}

.overlay_background {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: auto;
  background-color: #000;
  opacity: 0.5;
}

.overlay_body {
  color: white;
  margin: 0px;
  font-size: 10em;
}

.url_link i.fa {
  padding-left: 0;
}

.list-group {
  margin-top: 2em;
}

.list-group-item {
  padding: 1em 2em;
  margin: 1em 0;
}

#mainpanel .related-entities {
  margin-top: 2em;
}

/* to be removed in bootstrap 4 */
.rw-select.rw-btn, .rw-select>.rw-btn {
  margin-left: -2em
}

/* bootstrap table */

#admin-panel .react-bootstrap-table {
  background-color: #fff;
}

#admin-panel .react-bootstrap-table .table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: #f5f5f5;
}

#admin-panel a.react-bootstrap-table-pagination-list-hidden {
    display: none;
}

#admin-panel .form-control {
  font-size: inherit;
}

.react-bootstrap-table table { table-layout: auto !important; }


#admin-panel span.react-bootstrap-table-pagination-total {
  display: inline-block;
  margin-left: 1em;
  color: #0d4e96;
}

#admin-panel label,
 label.search-label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}


#admin-panel .checkbox label,
#admin-panel  .radio label {
  font-weight: 400;
}

.checkbox input[type=checkbox]+span,
.checkbox-inline input[type=checkbox]+span,
.radio input[type=radio]+span,
.radio-inline input[type=radio]+span {
  margin-left: 0.3rem;
}

#admin-panel .form-group {
  margin-bottom: 15px;
}

#admin-panel .btn {
  border-radius: 5px;
}

#admin-panel .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}


#admin-panel .btn-primary {
  background-color:#09669d;
  color: #fff;
}


div.cms_add_link {
  font-size: 1.9em;
}

#admin-panel div.cms_add_link button{
  background-color: #09669d;
  color: #fff;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.field-title {
  text-align: left;
  font-size: 1.3em;
  color: #0d4e96;
  margin: 1em 0;
}

#admin-panel .btn-group button {
  margin-right: 0.5em;
}

#admin-panel .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

#admin-panel legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

 /* Dropdown Button */
.dropbtn {
  font-size: 18px;
  border: none;
  cursor: pointer;
  marging: 0:
  padding: 0;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#translation-form legend#root__title{
  display: none;
}

ul.sitelink_context__items {
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
  justify-content: center;
}

li.sitelink_context__item {
  margin: 0 15px;
}

li.sitelink_context__item span{
  display: block;
  margin-left: 1em;
}

#admin-panel .field textarea {
  min-height: 150px;
}

.text-red {
  color: red;
}

i.glyphicon { display: none; }
.btn-add::after { content: '+'; }
.array-item-remove::after { content: '×'; }

.togglePassword {
  border-left: none;
}

.togglePassword i.fa {
  padding: 0;
  margin: 0.5rem 0;
}

/* Mirador */
.MuiAppBar-root {
  z-index: 1000!important;
}
