{% extends "maintemplate.jinja2" %}

{% block login %}
  <li id="login-link">
    <a href="{{ base_url }}/{{ "login" if isanon else "logout" }}?postlogin_path={{ current_url | e }}" title="{{ _('i18n_login_popup') }}">
      <span>{{ user }}</span>
      <i aria-hidden="true" class="fa fa-{{ "sign-in" if isanon else "sign-out" }}"></i>
    </a>
  </li>
{% endblock %}

{% block adminpanel %}
  {% if not isanon %}
    <div id="admin-panel"></div>
    <input id="tinymcefile" type="file" style="display:none" />
  {% endif %}
{% endblock %}
